<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="simply" version="0.1.0-build38" targetFramework="native" />
  <package id="simply.assert" version="0.1.0-build38" targetFramework="native" />
  <package id="simply.com" version="0.1.0-build38" targetFramework="native" />
  <package id="simply.utility" version="0.1.0-build38" targetFramework="native" />
</packages>